body {
  font-family: 'Lora', serif;
}

.jumbotron {
  background-image: url("../assets/images/stock.jpg");
  height: 500px;
  margin-top: -30px;
  width: 100%;
}

.jumbo-image {
  width: 100%;
  margin-top: -30px;
}

.welcome {
  width: 80%;
  height: auto;
  background-color: white;
  text-align: left;
  border: black 1px solid;
  z-index: 1;
  margin-top: -10%;
  margin-left: 26%;
}


.image {
  max-width: 50%;
  margin-left: 50%;
  margin-top: -12.5%;

}

.tiles {
  /*outline: 3px green solid;*/
}

.each-tile {
  height: 452px;
  background-color: white;
  box-shadow: 5px 5px 10px 10px grey;
  margin-bottom: 30px;
}

:hover.each-tile{
  background-color: #eaf7f6;
}

.title {
  padding-top: 10px;
  padding-left: 15px;
}

.author {
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
}

.country {
  padding-left: 10px;
}

.travel-img {
  max-width: 60%;
}

.summary {
  float: left;
  text-align: left;
  position: relative;
  max-width: 50%;
  padding-left: 10px;
  margin-top: -18%;
}

.read-more {
  font-size: 20px;
  margin-left: 85%;
  margin-top: 40px;
}

.whale {
  z-index: -1;
  width: 100%;
  opacity: 0.;
}

.add-new {
  right: 0;
}

.logo {
  height: 80px;
  margin-top: -10px;
}

.navbar {
  height: 80px;
}

.pull-right {
  padding-left: 50px;
  color: white;
  margin-top: 19px;
}

.container {
  margin-bottom: 50px;
}

.addBlog {
  margin: 30px 0 30px 30px;
}

.blog-form {
  text-align: center;
}

.about-us {
  border: black solid 1px;
  height: 206px;
  width: 710px;
  margin-top: 10%;
  text-align: left;
  box-shadow: 5px 15px 15px grey;
  padding: 20px;
}

.circle {
  border-radius: 10%;
  width: 40%;
  float:right;
  padding-right: 0px;
  margin-top: -17%;
}
