

<h1>Welcome to our travel blog</h1>

<h2>Talk about your travels and experiences!</h2>

<ul>
  {{#each model as |travel|}}
    {{travel-tile travel=travel update="update" destroyTravel="destroyTravel"}}
  {{/each}}
</ul>

{{new-travel saveTravel="saveTravel"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
