

<h1>Welcome to our travel blog</h1>

<h2>Talk about your travels and experiences!</h2>

<div class="row">
  <div class="col-sm-8">
    <div class="container">

    <ul>
      {{#each model as |travel|}}
      {{travel-tile travel=travel}}
      {{/each}}
    </ul>
  </div>

</div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="container">

      {{new-travel saveTravel="saveTravel"}}
    </div>
  </div>
</div>





<!-- put this in the APLLICATION file to be on all pages -->
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
