<div class="jumbotron">

</div>
<!-- <img class="jumbo-image" src="assets/images/stock.jpg" alt="greece" /> -->

  <!-- <img class="whale" src="assets/images/forest.jpg" alt="whale" /> -->


<div class="container">
<!-- <div class="welcome">
  <h1>Welcome to my travel blog!</h1>

  <h2>Feel free to share your experiences or thoughts!</h2>

  <img class="round-pic" src="assets/images/girl.jpeg" alt="girl">

</div> -->

<div class="tiles">
    <ul>
      {{#each model.travel as |thisTravel|}}
      {{travel-tile travel=thisTravel}}
      {{/each}}
    </ul>

  {{new-travel saveTravel="saveTravel"}}
</div>
</div>
