

<div class="row">

  <h2>Read about {{travel.author}}'s experience in {{travel.country}} '</h2>
</div>

<div class="row">

    {{travel-detail travel=model destroyTravel="destroyTravel"}}

    {{update-travel travel=model update="update"}}

</div>
