
<div class="container">
<div class="col-md-1"></div>
  <div class="col-md-10">

      {{travel-detail travel=model destroyTravel="destroyTravel"  destroyComment="destroyComment" updateComment="updateComment"}}

      {{update-travel travel=model updateTravel="updateTravel"}}

      {{new-comment saveComment="saveComment" travel=model}}

  </div>
  <div class="col-md-1"></div>

</div>
